@model List<PrintSize>
@{
    ViewBag.Title = "Print Size Manager";
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Dimensions</th>
                    <th>Price</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (PrintSize s in Model)
                {
                    <tr>
                        <td><a asp-action="Update"
                               asp-route-id="@s.Id">@s.Dimensions</a></td>
                        <td>@s.Price</td>
                        <td>@s.Active</td>
                        <td>
                            <a asp-action="Delete"
                               asp-route-id="@s.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{ 
            string userMessage = TempData?["UserMessage"]?.ToString() ?? ""; 
        }
        @if (userMessage != "") {
            <div class="text-success">@userMessage</div>
        }
        <a asp-action="Add" class="btn btn-primary">Add New Print Size Option</a>
    </div>
</div>