<!-- this view is used for the Add action and the Update action -->
@model ProductImageListView
@{
    string title = ViewBag.Action + " Product";
    ViewBag.Title = title;    // sets title to "Add Product" or "Update Product"
}

<!-- since this view uses validation, it should provide the validation scripts 
     so these scripts can be inserted into the layout -->
@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.product.Title">Title</label>
        <input asp-for="@Model.product.Title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="@Model.product.Description">Description</label>
        <input asp-for="@Model.product.Description" class="form-control">
    </div>

        <div class="form-group">
        <label asp-for="@Model.product.Active">Product Active Status</label>
        <select asp-for="@Model.product.Active">
            <option value="True">Active</option>
            <option value="False">Inactive</option>
        </select>
    </div>

    <h2>
        Product Images
    </h2>

    <hr />
@*    <div class="form-group">
        <label asp-for="@Model.product.ImageFilePath">Image File Path</label>
        <input asp-for="@Model.product.ImageFilePath" inputmode="url" class="form-control">
    </div>*@
    <div id="ImageList">
        @if (@Model.productImagesDisplay == null || @Model.productImagesDisplay.Count == 0) {
            <p>No images found.</p>
        } else {
        @for (int i=0; i < @Model.productImagesDisplay.Count; i++)
        {
            <div class="form-group">
                <img class="thumbnail" alt="@Model.productImagesDisplay[i].FileName" src="@Url.Content("~"+@Model.productImagesDisplay[i].FullPath)"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.productImagesDisplay[i].FilePath">Image</label>
                <input asp-for="@Model.productImagesDisplay[i].FilePath" type="file" id="myFile" name="filepath">
            </div>
            <div class="form-group">
                <label asp-for="@Model.productImagesDisplay[i].FileName">File Name :</label>
                @Html.DisplayFor(ri => @Model.productImagesDisplay[i].FileName)
            </div>
            <div class="form-group">
                <label asp-for="@Model.productImagesDisplay[i].Active">Image Visible</label>
                <select asp-for="@Model.productImagesDisplay[i].Active">
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                </select>
                <input type="hidden" asp-for="@Model.productImagesDisplay[i].Id" />
            </div>
            <div class="form-group">
                  <a href="../Update/@Model.product.Id/RemoveImage/@Model.productImagesDisplay[i].Id" id="btnRemoveImage" class="btn btn-primary"> Remove Image</a>
            </div>
            <hr />
        }
        }
    </div>
    <a href="../Update/@Model.product.Id/AddImage" class="btn btn-primary">Add Image</a>
    <br />
    <input type="hidden" asp-for="@Model.product.Id" />
    <br />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>

<script language="JavaScript" type="text/javascript" src="~/js/adminProduct.js"></script>