@using System.Security.Claims ;
@using Microsoft.AspNetCore.Identity
@using LenselinkArtSales.Areas.Identity.Data

@inject SignInManager<LenselinkArtSalesUser> SignInManager
@inject UserManager<LenselinkArtSalesUser> UserManager
@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Art Sales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="scripts" href="~/js/site.js" asp-append-version="true" />
    @RenderSection("scripts", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="/">Art Sales</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link
                        @(controller == "Home" && action == "Index" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link
                        @(controller == "Product" ? "active" : "")"
                       asp-controller="Product" asp-action="List">Products</a>
                    <a class="nav-link
                        @(controller == "Home" && action == "About" ? "active" : "")"
                       asp-controller="Home" asp-action="About">About</a>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (UserManager.GetUserName(User) == "admin@test.com")
                    {
                        <div class="navbar-nav navbar-right">
                            <a class="nav-link"
                       asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                        </div>
                    }
                }
            </nav>
            <nav>
                <div class="container">
                    <a class="navbar-brand" asp-area="identity" asp-page="/Index">NotIdentity</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </nav>
    </header>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Art Sales</p>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
