@model ProductImageListView
@{
    ViewBag.Title = "Product Details";
}

<h1>Product Details</h1>
<div class="row">
@*    <div class="col-sm-4">
        <a href="@Model.FirstImageThumbnail" target="_blank"><img src="@Url.Content("~"+@Model.FirstImageThumbnail)" 
             alt="@Model.product.Title Image" 
             class="img-responsive center-block"/></a>
    </div>*@
    @if(@Model.productImages != null && @Model.productImages.Count > 0)
    {
        <div class="slideshow-container">

          @for(int i=0; i < @Model.productImagesDisplay.Count; i++)
            {
                <div class="Containers">
                <div class="MessageInfo">i / @Model.productImages.Count</div>
                <img src="@Model.productImages[i].FullPath" style="width:100%">
                <div class="Info">@Model.productImages[i].FileName</div>
                </div>
            }

          <!-- Back and forward buttons -->
          <a class="Back" id="btnMinusSlide">&#10094;</a>
          <a class="forward" id="btnPlusSlide">&#10095;</a>
        </div>
    }
    else
    {
        <img alt="@Model.FirstImageAlt" src="@Url.Content("~"+@Model.FirstImageThumbnail)" class="thumbnail">
    }

    <br>

    <div class="col-sm-8">
        <h2>@Model.product.Title</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Art Description:</td>
                <td>@Model.product.Description</td>
            </tr>
        </table>
        <a asp-controller="Cart" asp-action="Add"
            asp-route-id="@Model.product.Title" class="btn btn-primary">Add to Cart</a>
    </div>
</div>
<script language="JavaScript" type="text/javascript" src="~/js/ImageDetails.js"></script>