@model List<ProductImageListView>
@{
    ViewBag.Title = "Product List";
}

<h1>Product List</h1>
<div class="row">

    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td><a asp-controller="Product" asp-action="Details"
                               asp-route-id="@p.product.Id"
                               asp-route-slug="@p.product.Id"><img class="thumbnail" src="@Url.Content("~"+@p.FirstImageThumbnail)"/></a></td>
                        <td>@p.product.Title</td>
                        <td>@p.product.Description</td>
                        <td>
                            <a asp-controller="Product" asp-action="Details"
                               asp-route-id="@p.product.Id"
                               asp-route-slug="@p.product.Id">View Details</a>
                        </td>
                        <td>
                            <a asp-controller="Cart" asp-action="Add"
                               asp-route-id="@p.product.Title">Add to Cart</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>